.Nav h2 {
    display: none;
}

.Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
}

.Nav .nav__list a:after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}

.Nav .nav__list a:last-child:after {
    content: "";
}