/* default condition */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2,
h3 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* var style */
:root {
  --var-a-res-height: 100px;
  --var-desc-font-size: 11px;
  --var-desc-font-color: grey;
  --var--fade-out-time: 0.7s;
}

/* set for FFF */
body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.colorpreview {
  width: 80px;
  height: 80px;
}

.colorul {
  display: flex;
  flex-wrap: wrap;
}

.colorcode {
  font-size: 14px;
}

#app {
  display: flex;
  padding-top: 150px;
}

/* common class */
.Nav {
  margin-right: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Nav h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.Nav .nav__list {
  display: flex;
  flex-direction: column;
}

.Git {
  width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Git h2 {
  padding-bottom: 30px;
}
.git__wrap > fieldset.result__wrap > legend {
  margin-bottom: 10px;
}
.git__wrap > fieldset {
  width: 50%;
}
.git__wrap .result__wrap {
  border: none;
}
#gitRes {
  height: 100%;
  width: 100%;
  border: 0;
  resize: none;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.git__copy {
  margin-left: 10px;
  margin-right: 10px;
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
}
.shadow__wrap {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.shadow__wrap .shadow__div {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  place-content: center;
  margin-bottom: 100px;
}

.alertCopy {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid grey;

  -webkit-animation: fadeOut var(--var--fade-out-time) 1 linear alternate;
  -moz-animation: fadeOut var(--var--fade-out-time) 1 linear alternate;
  -ms-animation: fadeOut var(--var--fade-out-time) 1 linear alternate;
  -o-animation: fadeOut var(--var--fade-out-time) 1 linear alternate;
  animation: fadeOut var(--var--fade-out-time) 1 linear alternate;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.verysmall {
  width: 0;
  height: 0;
  border: 0;
  padding: 1px;
}

.git__wrap {
  display: flex;
  flex-direction: row;
}

.type-desc,
.title-desc {
  font-size: var(--var-desc-font-size);
  color: var(--var-desc-font-color);
}

.font__wrap {
  display: flex;
  flex-wrap: wrap;
}

.font__name {
  margin-left: 5%;
  display: flex;
  margin-bottom: 10px;
}
.font__name h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font__div {
  margin-bottom: 10px;
  width: 33%;
}

.font__div textarea {
  box-sizing: border-box;
  padding: 10px;
  margin: 5%;
  width: 90%;
  height: 200px;
  border: none;
  resize: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.font__div button {
  margin-left: 10px;
  background: black;
  color: white;
  border-radius: 25px;
}
